input[type="search"] {
  -webkit-appearance: none;
}

.search-input {
  display: block;
  width: 100%;
  padding: .5rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  color: $gray;
  background-color: #fff;
  border: 1px solid $border-color;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.search-group {
  position: relative;
  display: table;
  border-collapse: separate;
  margin-bottom: 2.125rem;
  .search-input {
    position: relative;
    z-index: 2;
    &:focus {
      z-index: 3;
    }
  }
  @media (min-width: 30rem) {
    padding: 0 1.2rem;
  }
}

.search-group-btn,
.search-group .search-input {
  display: table-cell;
}

.search-group-btn {
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
}

.search-group-btn {
  position: relative;
  font-size: 0;
  white-space: nowrap;
  > .button {
    position: relative;
    &:hover,
    &:focus,
    &:active {
      z-index: 2;
    }
  }

  &:first-child {
    > .button {
      margin-right: -1px;
    }
  }
  &:last-child {
    > .button {
      z-index: 2;
      margin-left: -1px;
    }
  }
}
